/* Poppins-Font */

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}

/* Gliker-Font */

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-Black.ttf");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-ExtraBold.ttf");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-ExtraLight.ttf");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-Thin.ttf");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-Italic.ttf");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-BoldItalic.ttf");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Gliker";
  src: url("./assets/fonts/Gliker-Font/Gliker-BlackItalic.ttf");
  font-weight: 900;
  font-style: italic;
}
