@import "./main.css";

/* Reset default margin and padding */
html,
body {
  margin: 0;
  padding: 0;
}

/* Ensure full viewport height and remove default margin/padding */
.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  margin: 0;
  padding: 0;
  background-color: white; /* In case the image is transparent */
}

/* Style for the image */
.image-fullscreen {
  width: 100vw;
  height: 100vh;
  object-fit: cover; /* Cover the whole area without stretching */
}
