@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* main.css */

.scroll-container {
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.snap-child {
  height: 100vh;
  scroll-snap-align: start;
}

.navigation {
  position: fixed;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  z-index: 10;
}

.navigation-dot {
  display: block;
  margin-bottom: 8px;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  opacity: 1; /* Start fully visible */
  animation: fadeOut 1s ease-in-out 1s forwards; /* Fades out after 1 second */
}

.navigation-dot:hover,
.navigation-dot:focus {
  width: 16px;
  height: 16px;
  background: rgba(
    236,
    72,
    153,
    0.8
  ); /* A semi-transparent pink color for hover */
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
}

.navigation-dot.active {
  background-color: rgba(
    236,
    72,
    153,
    0.8
  ); /* A semi-transparent pink color for hover */
  width: 16px;
  height: 16px;
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.8);
}

.navigation:hover .navigation-dot,
.navigation-dot:hover,
.navigation-dot:focus {
  opacity: 1; /* Make them fully visible on hover/focus */
  animation: none; /* Cancel any animation when hovered/focused */
}

@keyframes fadeOut {
  to {
    opacity: 0;
  }
}
